.card {
    column-gap: 1rem;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    padding: 30px;
}

.info-card {
    border: 1px solid $slate-grey;
    border-radius: 5px;
    box-shadow: $shadow;
    @include flexDisplay(flex, column);
    width: 70%;
}

.image-styling {
    @include flexDisplay(flex, column);
    height: 100%;
}

.trip-image {
    height: 100%;
    width: 100%;
}

.trip-destination {
    font-weight: bold;
}

.info-card-styling {
    display: flex;
    flex-direction: column;
    padding: 3%;
}

p {
    margin: 2%;
    padding: 0;
}