.card {
    column-gap: 1rem;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    padding: 30px;
}

.info-card {
    align-items: center;
    border: 1px solid $slate-grey;
    border-radius: 5px;
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
}

.image-styling {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.trip-image {
    height: auto;
    margin-bottom: 25%;
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
}