.login-text {
    text-align: center;
    margin-top: 15%;
}

.login-container {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 500px;
    margin-top: 2%;
}

.login-form {
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 500px;
}

.login-form-field {
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin: 5% 0;
    padding: 5% 15%;
    width: 100%;
}

.submit-button {
    background-color: $hot-pink;
    border: none;
    border-radius: 10px;
    color: $off-white;
    font-family: $montserrat-font;
    padding: 4%;
    width: 100%;
    font-size: 2rem;
}

.message {
    text-align: center;
}