$dark-green: #212529;
$off-white: #F8F9FA;
$light-grey: #CED4DA;
$slate-grey: #6C757D;
$hot-pink: #d90368;
$montserrat-font: 'Montserrat', sans-serif;
$shadow: 0px 3px 10px 2px $slate-grey;

@mixin flexDisplay($flex, $direction) {
    display: $flex;
    flex-direction: $direction;
}