@import 'variables';
@import 'navigation';
@import 'login';
@import 'card';

body {
  background: $off-white;
  font-family: $montserrat-font;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  color: $hot-pink;
  font-family: $montserrat-font;
  font-size: 2rem;
  font-weight: bold;
}

.user-view {
  margin-top: 5%;
}

.year-cost {
  margin-top: 5%;
}

.label-names {
  display: block;
  font-size: .65rem;
  font-weight: bold;
}

.book-trip-form {
  display: flex;
  justify-content: space-around;
}

.book-travel-button,
.calculate-cost-button {
  background-color: $hot-pink;
  border: none;
  border-radius: 5px;
  color: $off-white;
  font-family: $montserrat-font;
  width: 8.5rem;
}

.estimated-trip-cost {
  color: $hot-pink;
  text-align: center;
}

.hamburger {
  display: none;
}

.greeting {
  font-size: 1rem;
  margin-top: -3%;
}

.destinations-list {
  font-family: $montserrat-font;
}

.hidden {
  display: none;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.all-trips {
  margin-left: 2%;
}

.plan-trip-area {
  margin-left: 2%;
}

// IPAD/TABLETS

@media screen and (min-width: 551px) and (max-width: 1024px) {
  .login-text {
    font-size: 2rem;
    margin-top: 21%;
  }

  .nav-bar {
    font-size: .65rem;
  }

  h1,
  .year-text,
  .all-trips {
    font-size: 1.65rem;
    text-align: center;
  }

  .book-trip-form {
    align-items: center;
    flex-direction: column;
  }

  .book-travel-button,
  .calculate-cost-button {
    margin-top: 5%;
    padding: 1%;
  }

  .label-styling {
    margin-top: 5%;
    text-align: center;
  }

  .hamburger {
    display: none;
  }

  .info-card {
    width: 100%;
  }

  .greeting {
    margin-top: 0%;
  }

  .travel-card-container {
    padding: 0;
  }
}

// /SMARTPHONES/MOBILE

@media screen and (max-width: 550px) {
  .login-text {
    margin-top: 35%;
  }

  h1,
  .year-text,
  .all-trips {
    font-size: 1.25rem;
    text-align: center;
  }

  .book-trip-form {
    align-items: center;
    flex-direction: column;
  }

  .book-travel-button,
  .calculate-cost-button {
    margin-top: 5%;
    padding: 2%;
  }

  .label-styling {
    margin-top: 5%;
    text-align: center;
  }

  .nav-bar {
    display: none;
  }

  .hamburger {
    align-items: center;
    background-color: $off-white;
    background-image: url('../images/hamburger.png');
    background-repeat: no-repeat;
    background-position: center;
    @include flexDisplay(flex, column);
    height: 6.5vh;
    width: 15.5vw;
    z-index: 2;
  }

  .hamburger-content {
    background-color: $light-grey;
    color: $dark-green;
    margin-left: 30%;
    margin-top: 75%;
    z-index: 2;
  }

  .dropdown-item {
    font-size: .80rem;
    line-height: 2rem;
    padding: .35rem;
  }

  .info-card {
    width: 100%;
  }

  .travel-card-container {
    padding: 0;
  }

}