@import 'variables';
@import 'navigation';
@import 'login';
@import 'card';

body {
  background: $off-white;
  font-family: $montserrat-font;
}

h1 {
  color: $hot-pink;
  font-family: $montserrat-font;
  font-size: 2rem;
  font-weight: bold;
}

.year-cost {
  margin-top: 5%;
}

.book-trip-form {
  display: flex;
  justify-content: space-around;
}

.label-names {
  display: block;
  font-size: .65rem;
  font-weight: bold;
}

.book-travel-button,
.calculate-cost-button {
  background-color: $hot-pink;
  border: none;
  border-radius: 5px;
  color: $off-white;
  font-family: $montserrat-font;
  width: 8.5rem;
}

.user-view {
  margin-top: 5%;
}

.hidden {
  display: none;
}

.estimated-trip-cost {
  color: $hot-pink;
  text-align: center;
}

.hamburger {
  display: none;
}

.greeting {
  font-size: 1rem;
  margin-top: -3%;
}

.destinations-list {
  font-family: $montserrat-font;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 550px) {
  .login-text {
    margin-top: 35%;
  }

  h1,
  .year-text,
  .all-trips {
    font-size: 1.25rem;
    text-align: center;
  }

  .book-trip-form {
    flex-direction: column;
    align-items: center;
  }
  .book-travel-button,
  .calculate-cost-button {
    margin-top: 5%;
  }

  .label-styling {
    margin-top: 5%;
    text-align: center;
  }

  .nav-bar {
    display: none;
  }

  .hamburger {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url('../images/hamburger.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 60px;
    background-color: $off-white;
    z-index: 2;
  }

  .hamburger:hover {
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }

  .hamburger-content {
    background-color: $light-grey;
    color: $dark-green;
    cursor: pointer;
    margin-left: 28px;
    margin-top: 61px;
    z-index: 2;
  }

  .dropdown-item {
    border: none;
    font-size: .80em;
    line-height: 30px;
    padding: .35em;
  }

  .dropdown-item:hover {
    box-shadow: inset 0px 0px 4px;
  }

  .info-card {
    width: 100%;
  }

  .travel-card-container {
    padding: 0;
  }

}